<ion-header>
  <ion-toolbar>
    <ion-title>
      Ubicación
    </ion-title>
    <img src="assets/images/ganzo.png" alt="Logo" class="img-logo mobile-only" />
    <ion-buttons slot="end" class="desktop-only">
      <ion-button (click)="goToHomePage()">
        Inicio
      </ion-button>
      <ion-button (click)="goToHistPage()">
        Registro
      </ion-button>
      <ion-button (click)="goToCamPage()">
        Camara
      </ion-button>
      <ion-button *ngIf="isLoggedIn" class="name">
        {{ userName }}
      </ion-button>
      <ion-button *ngIf="!isLoggedIn" (click)="login()" class="name">
        Iniciar sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="separator"></div> <!-- Línea separadora -->

<ion-content>

  <div class="card">
    <div *ngIf="location">
      <h2>Location</h2>
      <p>Latitude: {{ location.latitude }}</p>
      <p>Longitude: {{ location.longitude }}</p>
    </div>

    <div *ngIf="acceleration">
      <h2>Acceleration</h2>
      <p>X: {{ acceleration.x }}</p>
      <p>Y: {{ acceleration.y }}</p>
      <p>Z: {{ acceleration.z }}</p>
    </div>

    <!-- Botones ajustados para que ocupen el 100% del ancho -->
    <ion-button (click)="getLocation()">Get Location</ion-button>
    <ion-button (click)="startWatching()">Start Accelerometer</ion-button>
    <ion-button (click)="stopWatching()">Stop Accelerometer</ion-button>
  </div>

  <!-- Mapa ajustado con estilo para que no ocupe demasiado espacio -->
  <div class="mapa-container">
    <div id="map" class="google-map"></div>
  </div>

</ion-content>

<div class="separator"></div> <!-- Línea separadora -->

<!-- Navbar inferior solo para móvil -->
<ion-footer class="mobile-only">
  <ion-toolbar>
    <ion-segment [(ngModel)]="tabService.selectedTab">
      <ion-segment-button value="home" (click)="goToHomePage()">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-segment-button>
      <ion-segment-button value="hist" (click)="goToHistPage()">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label>Registro</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cam" (click)="goToCamPage()">
        <ion-icon name="camera-outline"></ion-icon>
        <ion-label>Camara</ion-label>
      </ion-segment-button>
      <ion-segment-button value="profile" (click)="toggleProfileMenu()">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <!-- Modal que actúa como menú lateral desde la esquina inferior derecha -->
  <div class="custom-modal" *ngIf="isProfileMenuOpen" (click)="closeProfileMenu()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <ion-list>
        <ion-item>
          <ion-label>{{ userName }}</ion-label>
        </ion-item>
        <ion-item (click)="goToUbiPage()">
          <ion-label>Ubicación</ion-label>
        </ion-item>
        <ion-item (click)="logout()">
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-footer>